body{
    background-color: bisque;
    margin: 20%;
    margin-top: 0%;
}

header{
    font-size: 70px;
    text-align: center;
    color: brown;
    margin: 50px;
}

section{
    font-size: 20px;
    font-weight: 200px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.sectionHeader{
    font-size: 30px;
    font-weight: 200px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 50px;
}
.friendSection{
    width: 100%;
    height: 1000px;
    text-align: center;

}
img{
    width: 300px;
    height: 450px;    
}

.texted{
    font-size: 40px;
    position: relative;
    display: inline-block;
}
