body{
    background-image: url(../images/istockphoto-2169951745-612x612.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 1200px;
}
.avatar {
    height: 150px;
    width: 150px;
    position: relative;
    background-color: #8897e1;
    margin-top: 10px;
    left: 25%;
    border-radius: 50%;
    background-image: url(../images/kang-1.jpg);
    background-size: cover;
}


.title {
    text-align: center;
    font-size: 50px;
    background: #e6c975;
    background: linear-gradient(90deg,rgba(230, 201, 117, 1) 0%, rgba(255, 138, 102, 1) 36%, rgba(252, 176, 69, 1) 91%);
    height: 65px;
}
form {
    width: 300px;
    height: 600px;
    top: 0px;
    position: absolute;
    border: 10px;
    border-color: rgb(71, 133, 248);
    border-style: groove;
    margin-top: 15%;
    margin-left: 40%;
    text-align: center;
    background: #2b7fa1;
    background: linear-gradient(90deg,rgba(43, 127, 161, 1) 0%, rgba(87, 199, 133, 1) 7%, rgba(237, 221, 83, 1) 100%);
    }
h1 {
    margin-left: 15%;
    margin-top: 15px;
    width: 200px;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    border-color: linear-gradient(90deg,rgba(43, 127, 161, 1) 0%, rgba(87, 199, 133, 1) 7%, rgba(237, 221, 83, 1) 100%);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(45, 39, 30);
    }
input{
    font-size: 20px;
    height: 30px;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 250px;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
}
.buttons{
    margin-top: 20px;
}
button{
    width: 150px;
    height: 30px;
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(61, 50, 33);
    background: #8897e1;
    background: radial-gradient(circle, rgb(138, 152, 224) 3%, rgb(177, 209, 245) 100%);
    margin-top: -20px;
    border: 0px;
    border-radius: 40px;
}

input:hover, input:focus{
    border-radius: 60px;
    width: 270px;
    height: 40px;
}


button:hover{
        color:blanchedalmond;
        font-size: 25px;

}

